/* You can add global styles to this file, and also import other style files */
body {
	background: linear-gradient(120deg,#164A41, #4D774E, #9DC88D) fixed;
	color: white;
	font-family: 'Vollkorn', serif;
	margin-bottom: 50px;
}



.navbar-dark .navbar-nav .nav-link.active {
	color: #F1B24A;
}


.navbar-dark {
	background-color: #transparent;
	font-size: 20px;
	//border-bottom: double #164A41;
	//background-color: rgba(0, 0, 0, 0.5);
	padding: 20px 0px 20px 20px;
}

.navbar-dark .navbar-brand {
	font-size: 28px;
	font-variant:small-caps;

}
