body {
  //background: linear-gradient(120deg, black, #164A41, #4D774E, #9DC88D) fixed;
  background: linear-gradient(120deg,#164A41, #4D774E, #9DC88D) fixed;
  //background: linear-gradient(180deg, #4D774E, #9DC88D) fixed;
  color: white;
  font-family: 'Vollkorn', serif;
  margin-bottom: 50px;
}


.content {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 10px;
  background-color: rgba(157,200,141, 0.5);
  filter: brightness(120%);
  //background-color: rgba(255,255,255, 0.15);
  padding: 20px 20px 20px 20px;
  border-radius: 6px;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #F1B24A;
}


.navbar-dark {
  background-color: #transparent;
  font-size: 20px;
  //border-bottom: double #164A41;
  //background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0px 20px 20px;
}

  .navbar-dark .navbar-brand {
    font-size: 28px;
    font-variant: small-caps;
  }


#profile-picture {
  width: 100px;
  height: 100px;
}

.profile-header img, .profile-header h2 {
  display: inline;
}

.profile-header h2 {
  padding-left: 40px;
  //color: #F1B24A;
}

.profile-property {
  margin-top: 30px;
}

  .profile-property h3, .profile-property h4 {
    display: inline;
    margin-left: 10px;
  }


.profile-property-photos {
  margin-top: 10px;
}

#photo1, #photo2, #photo3, #photo4 {
  display: inline-block;
  width: 215px;
  height: 125px;
  margin: 10px 10px 10px 10px;
  border: 1px solid white;
  text-align: center;
}

.description {
  margin-top: 10px;
}

  .description h4, .description h5 {
    display: inline;
    margin-left: 10px;
  }

  .description p {
    margin-left: 20px;
  }

.upcoming {
  margin-top: 30px;
}

#upcoming-trip {
  width: 215px;
  height: 125px;
  margin-top: 20px;
  border: 1px solid white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  text-align: left;
  margin-left: 10px;
}
