<!--<div class="container">
  <div class="panel panel-default">
    Default panel contents
    <div class="panel" style="color:white; background-color:#337ab7">
      <h3>{{propertyId}}. Property - {{description}}</h3>
      <div>
        <a style="color:white" href="#"><span class="glyphicon glyphicon-edit"></span></a>
        <a style="color:white" href="#"><span class="glyphicon glyphicon-trash"></span></a>
        <a style="color:white" href="#"><span class="glyphicon glyphicon-ok"></span></a>
      </div>
    </div>
   <items-table [items]="listItems"></items-table>
    Table
  </div>
</div>-->

<div class="container" >
  <div class="search-header">
    <div class="search-location">
      <label for="location">Location:</label>
      <input type="text" id="location" name="location"><br><br>
    </div>
    <div class="search-checkin">
      <label for="checkin">Check-In:</label>
      <input type="date" id="checkin" name="checkin"><br><br>
    </div>
    <div class="search-checkout">
      <label for="checkout">Check-Out:</label>
      <input type="date" id="checkout" name="checkout"><br><br>
    </div>
    <div class="search-guests">
      <label for="guests">Number of Guests:</label>
      <input type="number" id="guests" name="guests"><br><br>
    </div>
  </div>
  <div class="panel panel-default" style="border-width: 0px; border-style:solid">
    <br>
    <div>
      <div class="panel panel-heading" style="border-width: 1px;" *ngFor="let result of properties; let i = index">
        <!-- Default panel contents -->

        <properties-table [property]="result" [index]="i"></properties-table>
        <!-- Table -->
      </div>

    </div>
  </div>
</div>
