
<div class="container" >
  <div class="search-header">
    <div class="search-location">
      <label for="location">Location:</label>
      <input type="text" id="location" name="location" value="" #locationInput><br><br>
    </div>
    <div class="search-checkin">
      <label for="checkin">Check-In:</label>
      <input type="date" id="checkin" name="checkin" #checkinInput><br><br>
    </div>
    <div class="search-checkout">
      <label for="checkout">Check-Out:</label>
      <input type="date" id="checkout" name="checkout" #checkoutInput><br><br>
    </div>
    <div class="search-guests">
      <label for="guests">Number of Guests:</label>
      <input type="number" id="guests" name="guests" #guestsInput><br><br>
    </div>
    <div class="search-btn"> 
      <button (click)="search(locationInput.value, checkinInput.value, checkoutInput.value, guestsInput.value)"><i class="fas fa-search"></i></button>
    </div>
  </div>
  <div class="panel panel-default" style="border-width: 0px; border-style:solid">
    <br>
    <div>
      <div class="panel panel-heading" style="border-width: 1px;" *ngFor="let result of properties; let i = index">
        <!-- Default panel contents -->

        <properties-table [property]="result" [index]="i"></properties-table>
        <!-- Table -->
      </div>

    </div>
  </div>
</div>
