<!--
<div class="property1">
  <div class="photo">
    <div class="photo-square"></div>
  </div>
  <div class="prop-table">
    <h4 class="panel-heading" >
      {{propertyAName}}
    </h4>

    <div class="panel-body">
      <p>{{propertyADescription}} | Rating: {{propertyARating}} Stars</p>
    </div>

    <table class="table">
      <tbody>
      <tr><td>Address: {{propertyAAddress}}</td></tr>
      <tr><td>Bedrooms: {{propertyABedrooms}}</td></tr>
      <tr><td>Bathrooms: {{propertyABathrooms}}</td></tr>
      <tr><td>Square Feet: {{propertyASqFeet}}</td></tr>
      </tbody>
    </table>
  </div>
</div>


<div class="property2">
  <div class="photo">
    <div class="photo-square"></div>
  </div>
  <div class="prop-table">
    <h4 class="panel-heading" >
      {{propertyBName}}
    </h4>

    <div class="panel-body">
      <p>{{propertyBDescription}} | Rating: {{propertyBRating}} Stars</p>
    </div>

    <table class="table">
      <tbody>
      <tr><td>Address: {{propertyBAddress}}</td></tr>
      <tr><td>Bedrooms: {{propertyBBedrooms}}</td></tr>
      <tr><td>Bathrooms: {{propertyBBathrooms}}</td></tr>
      <tr><td>Square Feet: {{propertyBSqFeet}}</td></tr>
      </tbody>
    </table>
  </div>
</div>-->
{{propertyA}}


