
<div class="table-with-photo">
<div class="photo">
  <div class="photo-square"></div>
</div>
  <div class="prop-table">
    <h4 class="panel-heading" >
      <a style="color:white" [routerLink] = "['/property/', index+1]">{{property.propertyName}}</a>
    </h4>

    <div class="panel-body">
      <p>{{property.description}} | Rating: {{property.averageRating}} Stars</p>
    </div>

    <table class="table">
  <tbody>
  <tr><td>Address: {{property.address}}</td></tr>
  <tr><td>Bedrooms: {{property.bedrooms}}</td></tr>
  <tr><td>Bathrooms: {{property.bathrooms}}</td></tr>
  <tr><td>Square Feet: {{property.sqFeet}}</td></tr>
  </tbody>
</table>
    <button class="btn btn-dark booking-btn">Request Booking</button>
  </div>
</div>
