.photo, .prop-table {
  display: inline-block;
}

.photo-square {
  width: 300px;
  height: 200px;
  background-color: white;
}

.photo {
    width: 40%;
    height: 100%;
    margin: 10px;
    vertical-align: top;
    background-color: white;
}

.prop-table {
  margin-left: 10%;
  width: 40%;
  align-content: center;
}

.booking-btn {
  float: right;
}
